@import "navbar";
@import "reset";

.inner-container__right{
    background-image: url(../img/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding: 3%;
    
}
